.container{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.min-height{
    min-height: 75vh;
} 


 .start{
    justify-content: flex-start;
} 

