
.container_introducao, .contato{
    position: relative;
    background-color: #E7F2F2;
    min-height: 700px;
    min-width: 100px;
}



/* .link_login{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20%;
    left: 40%;
    margin: -30px 15 15 -30px;
} */

.titulo_introducao, .paragrafo_titulo, .titulo_contato, .paragrafo_contato {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.link_login{
    background-color: #98E4DF;
    padding: 15px;
    border-radius: 20px;
    width: 150px;
}

.titulo_introducao{
    font-size: 5rem;
    color: #314855;
    font-weight: 500;
}

.paragrafo_titulo{
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 300;
}

.sobre{
    background-color: #fff;
    min-height: 750px;
    min-width: 100px
}

.titulo_sobre_nos, .titulo_contato{
    color: #314855;
    font-size:64px;
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
}

.paragrafo_sobre_nos, .paragrafo_contato{
    text-align: center;
    font-size: 20px;
    display: block;
    margin-top: 2rem;
}

 .form_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
.form_home{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 25rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20%;
    left: 40%;
    margin: -20px 15 15 -20px;
} */

.input_email_home{
    margin-top: 2rem;
    padding: 1rem;
    width: 600px;
    height: 2rem;
    border-radius: .5rem;
    outline: none;
    background-color: #E7F2F2;
    border: 1px solid;
}

.mensagem_home{
    padding: 1rem;
    width: 600px;
    height: 15rem;
    border-radius: .5rem;
    outline: none;
    margin-top: 2rem;
    background-color: #E7F2F2;
    border: 1px solid;
}