:root{
    --color-bg-all: #FFDC6B;
}

.welcome, .contact{
    background-color: var(--color-bg-all);
}

.btnComeçar, .btnLoginMensage, .btnEnviarMensagem{
   background-color: #D97C2B;
}

.btnSaibaMais{
    border-color: #D97C2B;
}