.container{
    background-color: #E7F2F2;
    min-height: 700px;
    min-width: 100px;
}

.container h1{
    color: #314855;
    margin-top: 15px;
}

.btnClick{
    background-color: #98E4DF;
    padding: 0.5rem;
}

.container_sobre{
    background-color: #fff;
    min-height: 700px;
    min-width: 100px;
}
.container h2, .container_sobre h2{
    color:#314855;
}